$color-dark: #34425A;
$color-light-purple: #899dc1;
$color-white: #white;

.side-user-profile {
  background-color: $color-dark;
  .name {
    color: white;
  }
  .role {
    color: $color-light-purple;
  }
}

.component-side {
  background-color: $color-dark;
  color: $color-light-purple;
}

.component-side--active {
  background-color: $color-dark;
  color: white;
}


