@import '../../../styles/size';
@import '../../../styles/padding';

.component-pad {
  display: flex;
  justify-content: center;
}

.center-column-flex {
  .icon {
    align-self: center;
  }

  .label {
    align-self: center;
  }
}

.component--column {
  flex-direction: column;

  @extend .center-column-flex;
}

.component--column-reverse {
  flex-direction: column-reverse;

  @extend .center-column-flex;
}

.component--row {
  flex-direction: row;
}

.component--row-reverse {
  flex-direction: row-reverse;
}

.label {
  font-size: $fsize--ms;
}

.component-pad {
  padding: $pd--md;
}
