@import '../../../styles/size';
@import '../../../styles/padding';

.component-pad {
  display: flex;
  justify-content: center;
}

.label {
  font-size: $fsize--ms;
}

.component-pad {
  padding: $pd--md;
}
