@import '../../../styles/padding';
@import '../../../styles/size';
@import '../../../styles/colour';

.api-icon {
  display: flex;
  width: 67px;
  height: 67px;
  margin: 0 auto;
  justify-content: center;
}

.api-icon > img {
  width: 50%;
  align-self: center;
}

.api-label {
  font-size: $fsize--sm;
  margin-top: 4px;
  text-align: center;
}
