@import '../../../styles/padding';
@import '../../../styles/padding';

.component-pad {
  padding: $pd--md;
  display: flex;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
}

.icon {
  align-self: center;
}

.input {
  width: 100%;
  margin-left: 15px;
  padding: $pd--md;
  align-self: center;
  outline: none;
  border: 0;
}

.api-list .component {
  width: 120px;
  text-align: center;
}
